global
    log stdout format raw local0 info
defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    retries 2

frontend publico
    bind *:80
    use_backend bk_stock if { path_beg /stock }
    use_backend bk_agenda if { path_beg /agenda }
    use_backend bk_crm if { path_beg /crm }
    use_backend bk_pagos if { path_beg /pagos }
    default_backend bk_web

backend bk_web
    option httpchk GET /health
    server web1 172.17.0.1:8081 check
backend bk_stock
    option httpchk GET /health
    http-request replace-path /stock/?(.*) /\1
    server stock1 172.17.0.1:8082 check
backend bk_agenda
    option httpchk GET /health
    http-request replace-path /agenda/?(.*) /\1
    server agenda1 172.17.0.1:8083 check
backend bk_crm
    option httpchk GET /health
    http-request replace-path /crm/?(.*) /\1
    server crm1 172.17.0.1:8084 check
backend bk_pagos
    option httpchk GET /health
    http-request replace-path /pagos/?(.*) /\1
    server pagos1 172.17.0.1:8085 check

frontend observabilidad
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
